main.friends .title{
padding-top: 10px;
margin-top: 10px;
border-top: var(--main-border);
padding-bottom: 10px;
}

main.friends{
padding-block: 10px;
border-top: var(--main-border);
border-radius: 10px;
margin-bottom: 10px;
}